.main {
	grid-area: main;


	padding-top: 3.2rem;	

	// Subgrid
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	@media (min-width: $grid-breakpoint1) {
		grid-template-columns: repeat(6, 1fr);
	}

	@media (min-width: $grid-breakpoint2) {
		grid-template-columns: repeat(8, 1fr);	
		padding-top: 16.0rem;	
	}

	@media (min-width: $grid-breakpoint3) {
		grid-template-columns: repeat(9, 1fr);	
	}

	// @media (min-width: $grid-breakpoint4) {
	// 	padding-top: 50.4rem;	
	// }



	// @media (min-height: 1000px) {
	// 	padding-top: 24.0rem;
	// }
}