.word {
	// Sub-subgrid.
	display: grid;
	grid-column-end: span 4;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"title title title title"
		"description description description image";

	border-top: 1px solid #e4e4e4;
	padding: 2.4rem 0;
	cursor: pointer;

	&:last-child {
		border-bottom: 1px solid #e4e4e4;
	}

	@media (hover:hover) {
		&:hover {
			.word__title {
				color: $color-red;
			}
			.word__title::after {
				content: " ›";
			}
		}
	}

	@media (min-width: $grid-breakpoint1) {
		grid-column-end: span 6;
		grid-template-columns: repeat(6, 1fr);
		// grid-template-areas:
		// 	". title title title title title image image"
		// 	". description description description description description image image";
		grid-template-areas:
			"title title title title image image"
			"description description description description image image";
	}

	@media (min-width: $grid-breakpoint2) {
		grid-column-end: span 8;
		grid-template-columns: repeat(8, 1fr);
		grid-template-areas:
			"title title title title title . image image"
			"description description description description description . image image";
	}

	@media (min-width: $grid-breakpoint3) {
		grid-column-end: span 9;
		grid-template-columns: repeat(9, 1fr);
		grid-template-areas:
			"title title title title title . image image image"
			"description description description description description . image image image";
	}
}

.word__thumb {
	@extend %grid__item;
	max-width: 10.0rem;
	grid-area: image;
}

.word__title {
	@extend %grid__item;
	grid-area: title;
	margin-bottom: 0.8rem;
}

.word__description {
	@extend %grid__item;
	font-weight: 300;
	padding-right: $grid-gutter-width / 2;
	grid-area: description;
}