$color-gray1: 				#FFFBF1;
$color-gray2: 				#999791;
$color-gray3:				#333230;
$color-gray4:				#1A1A1A;
$color-red: 				#E83021;
$color-orange:				#E85E1E;
$color-yellow:				#FFB202;
$color-green:				#D7E336;
$color-blue:				#16ADCE;
$color-purple:				#E34A8B;

$color-pct-gray1: 			#f3f3f3;
$color-pct-gray2: 			#444;
$color-pct-gray3: 			#2e2e2e;
$color-pct-blue1: 			#20beef;
$color-pct-blue2: 			#4344c0;
$color-pct-green: 			#bada55;
$color-pct-yellow: 			#f1b73a;
$color-pct-red: 			#f1765b;
$color-pct-purple: 			#b66dee;